In [ ]:
# Importing all required dependancies 
# SQL Alchemy
from sqlalchemy import create_engine

# Pandas
import pandas as pd

# Matplotlib
import matplotlib.pyplot as plt

# NumPy
import numpy as np

from config import user, password, db_name

In [15]:
# To import the csv files
departments_csv_path = "data 14.51.04/departments.csv"
departments_csv_path

'data 14.51.04/departments.csv'

In [16]:
# Read the mouse data and the study results
departments = pd.read_csv(departments_csv_path)
departments.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development