In [29]:
# Importing all required dependancies 

from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
# To import the csv files
departments_csv_path = "data 14.51.04/departments.csv"
dept_emp_csv_path = "data 14.51.04/dept_emp.csv"
dept_manager_csv_path = "data 14.51.04/dept_manager.csv"
employees_csv_path = "data 14.51.04/employees.csv"
salaries_csv_path =  "data 14.51.04/salaries.csv"
titles_csv_path = "data 14.51.04/titles.csv"
departments_csv_path

'data 14.51.04/departments.csv'

In [25]:
# Read the mouse data and the study results
departments = pd.read_csv(departments_csv_path)
departments.head()

  dept_no        dept_name
0    d001        Marketing
1    d002          Finance
2    d003  Human Resources
3    d004       Production
4    d005      Development